@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://use.fontawesome.com/releases/v5.8.1/css/all.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css");

*{
  font-family: "Open Sans", sans-serif;
  color: #000;
  scroll-behavior: smooth;
}


body{
  animation: animate 15s ease infinite;
}

@keyframes animate{
  0%{
    background-color: #a4a6a8;
  }
  25%{
    background-color: #b1b3b4;
  }
  50%{
    background-color: #97999b;
  }
  75%{
    background-color: #b1b3b4;
  }
  100%{
    background-color: #a4a6a8;
  }
}



article{
  display:flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  padding: 0 10px;
}

.main-image {
  min-height: 90vh;
  background-size:cover;
  padding: 0 10px;
  text-align: center;

  h1{
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin-bottom:30px;
  }

  span{
    color: #000;
    display: block;
    padding-bottom: 30px;
    font-size: 1.6rem;
    font-weight: bold;
  }
}
.contact-section{
  padding: 120px 100px;

  a{
      text-decoration: none;
  }


  .icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: none;
  color: #000;
  border-radius: 80%;

    i{
      font-size: 2rem;
      transition: 0.5s ease-in-out;
    }

    i:hover{
    color: var(--company_color);
  }
  }

}